
<div id="page-container" class="wrapper wrapper-home white">
	      <h1><%= @title %></h1>
<table summary="Information about following/followers">
  <tr>
    <td class="wrapper wrapper-home white">
      <% if @users.any? %>
        <ul class="users">
          <%= render @users %>
        </ul>  
        <%= will_paginate @users %>
      <% end %>
    </td>
    <td class="wrapper wrapper-home white">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong> <%= link_to user_path(@user), @user %><br />
      <strong>Microposts</strong> <%= @user.microposts.count %>
      <%= render 'shared/stats' %>
    </td>
  </tr>
</table>
</div>
