<div class="content-inner">
	<p>
		<%= image_tag movie_review_detail.image %>
	<p>
		<span class="content"><%= movie_review_detail.reviewcontent %></span>
	<p>
</div>	
<div class="content-inner">
	<p>
		<span class="content"><strong>Genre : </strong><%= movie_review_detail.genre.name %></span>
	<p>
		<span class="content"><strong>Content Reviewed : </strong><%= Medium.find(movie_review_detail.media_id).name %></span>
		<p>
		<span class="content"><strong>Reviewed : </strong><%= movie_review_detail.revieweddate %></span>
	    <p>
		<span class="content"><strong>DVD Release : </strong><%= movie_review_detail.dvdreleasedate %></span>
		
		<% if movie_review_detail.theaterrelease? %>
	<p>
		<span class="content"><font color="blue">
				<p>
					In theaters everywhere today
				</p></font></span>
	<p>
		<% end %>
		<span class="timestamp"> Posted <%= time_ago_in_words(movie_review_detail.created_at) %> ago. </span>
<p>
		<% if signed_in? %>
		<div class="field">
			Average rating from all our users shown below! CLick to rate!
		</div><p>
		<% else %>
		<div class="field">
			Average rating from all our users shown below! You have to sign in to rate this movie!
		</div><p>
		<% end %>
		<div class="field">
			<strong>Rating : </strong><%= rating_for @movie_review, "starrating" %>
		</div>
</div>